In [114]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import seaborn as ns
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/grantpoulsen/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [122]:
#Get Data Frame
dfData = pd.read_csv("/Users/grantpoulsen/Desktop/Sentiment Data/bookDataScraped")
dfWords = pd.read_csv('/Users/grantpoulsen/Desktop/Sentiment Data/wordDataScraped')
dfWords.drop("Unnamed: 0", 1, inplace = True)
dfData.drop("Unnamed: 0", 1, inplace = True)

In [123]:
#Fix Word Count & Drop Na Data

#Drop na Words that appeared
dfWords = dfWords.dropna()
dfWords.isna().sum()

#Drop na Data since we were missing data that was unique to each entry
dfData = dfData.dropna()
dfData.isna().sum()
dfData.reset_index(inplace = True, drop = True)

In [124]:
#Remove Stop Words & Show it Worked

#Show a stopword
print(dfWords[dfWords['Word'] == 'you'])

#Lets Get Rid of Stopwords#####################
sws = set(stopwords.words('english'))

for w in dfWords['Word']:
    
    if(w.lower() in sws):
        dfWords = dfWords[dfWords["Word"] != w]
        
###############################################

#Show that the stop word you was removed
dfWords[dfWords['Word'] == 'you']

#Reset the index
dfWords.reset_index(inplace = True, drop = True)

    Word  0.5Star  1.0Star  1.5Star  2.0Star  2.5Star  3.0Star  3.5Star  \
207  you        8        0        0        9        6       12       15

     4.0Star  4.5Star  5.0Star  Count
207       74       78      114    316

In [125]:
#Add a metric for calculating variance 
for index,row in dfWords.iterrows():
    
    dfWords.loc[index,'Variance'] = np.var([dfWords.loc[index,'0.5Star'], dfWords.loc[index,'1.0Star'], dfWords.loc[index,'1.5Star'], dfWords.loc[index,'2.0Star'],dfWords.loc[index,'2.5Star'], dfWords.loc[index,'3.0Star'], dfWords.loc[index,'3.5Star'], dfWords.loc[index,'4.0Star'], dfWords.loc[index,'4.5Star'], dfWords.loc[index,'5.0Star']])

dfWords.head(20)

,Word,0.5Star,1.0Star,1.5Star,2.0Star,2.5Star,3.0Star,3.5Star,4.0Star,4.5Star,5.0Star,Count,Variance
0,Five,0,0,0,0,0,0,2,2,0,0,4,0.64
1,Strangers,0,0,0,0,0,0,0,1,0,0,1,0.09
2,EV,0,0,0,0,0,0,0,1,0,0,1,0.09
3,Adamson,0,0,0,0,0,0,0,1,0,0,1,0.09
4,psychological,0,0,0,1,0,1,0,5,5,3,15,3.85
5,thriller,2,0,0,0,1,0,6,14,4,8,35,19.45
6,keep,0,0,0,0,0,1,1,25,16,28,71,116.29
7,readers,0,0,0,0,0,6,11,43,29,74,163,566.61
8,engaged,0,0,0,0,0,0,1,4,2,11,18,10.96
9,cover,0,0,0,1,0,0,1,6,5,11,24,12.64
10,Jen,0,0,0,0,0,0,0,5,0,0,5,2.25
11,Hunters,0,0,0,0,0,0,0,1,0,0,1,0.09
12,life,3,0,0,7,3,12,21,84,75,105,310,1474.80
13,falling,0,0,0,0,0,0,0,6,1,2,9,3.29
14,apart,0,0,0,0,1,2,1,5,3,4,16,3.04
15,Shes,0,1,0,0,0,1,1,5,3,1,12,2.36
16,lost,1,0,0,1,0,2,3,10,9,14,40,23.20
17,job,1,0,0,2,1,0,6,13,18,22,63,62.21
18,boyfriend,0,0,0,0,0,0,0,3,5,4,12,3.56
19,five,0,0,0,0,0,0,0,8,4,17,29,28.49

In [126]:
#Add a metric for expected value
for index,row in dfWords.iterrows():
    
    dfWords.loc[index,'Mean'] = (.5 *dfWords.loc[index,'0.5Star'] + 1.0 *dfWords.loc[index,'1.0Star'] + 1.5 *dfWords.loc[index,'1.5Star'] + 2.0 *dfWords.loc[index,'2.0Star'] + 2.5 *dfWords.loc[index,'2.5Star'] + 3.0 *dfWords.loc[index,'3.0Star'] + 3.5 *dfWords.loc[index,'3.5Star'] + 4.0 *dfWords.loc[index,'4.0Star'] + 4.5 *dfWords.loc[index,'4.5Star'] + 5.0 *dfWords.loc[index,'5.0Star']) / dfWords.loc[index,'Count']
    
dfWords.head(20)

,Word,0.5Star,1.0Star,1.5Star,2.0Star,2.5Star,3.0Star,3.5Star,4.0Star,4.5Star,5.0Star,Count,Variance,Mean
0,Five,0,0,0,0,0,0,2,2,0,0,4,0.64,3.750000
1,Strangers,0,0,0,0,0,0,0,1,0,0,1,0.09,4.000000
2,EV,0,0,0,0,0,0,0,1,0,0,1,0.09,4.000000
3,Adamson,0,0,0,0,0,0,0,1,0,0,1,0.09,4.000000
4,psychological,0,0,0,1,0,1,0,5,5,3,15,3.85,4.166667
5,thriller,2,0,0,0,1,0,6,14,4,8,35,19.45,3.957143
6,keep,0,0,0,0,0,1,1,25,16,28,71,116.29,4.485915
7,readers,0,0,0,0,0,6,11,43,29,74,163,566.61,4.472393
8,engaged,0,0,0,0,0,0,1,4,2,11,18,10.96,4.638889
9,cover,0,0,0,1,0,0,1,6,5,11,24,12.64,4.458333
10,Jen,0,0,0,0,0,0,0,5,0,0,5,2.25,4.000000
11,Hunters,0,0,0,0,0,0,0,1,0,0,1,0.09,4.000000
12,life,3,0,0,7,3,12,21,84,75,105,310,1474.80,4.293548
13,falling,0,0,0,0,0,0,0,6,1,2,9,3.29,4.277778
14,apart,0,0,0,0,1,2,1,5,3,4,16,3.04,4.093750
15,Shes,0,1,0,0,0,1,1,5,3,1,12,2.36,3.833333
16,lost,1,0,0,1,0,2,3,10,9,14,40,23.20,4.237500
17,job,1,0,0,2,1,0,6,13,18,22,63,62.21,4.301587
18,boyfriend,0,0,0,0,0,0,0,3,5,4,12,3.56,4.541667
19,five,0,0,0,0,0,0,0,8,4,17,29,28.49,4.655172

In [127]:
#We have a heavy bais towards using a word just once. 
dfWords['Count'].describe()

count    12599.000000
mean         3.995476
std         13.503784
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max        772.000000
Name: Count, dtype: float64

In [128]:
#Make Stars Numeric
dfData['Stars'] = dfData['Stars'].str.replace('/5','')

for index,row in dfData.iterrows():
    
    if(dfData.loc[index,'Stars'] == ''):
        
        dfData.loc[index,'Stars'] = 0
        

dfData['Stars'] = dfData['Stars'].astype(float)

In [130]:
#Save Collected Data
dfWords.to_csv(path_or_buf = "/Users/grantpoulsen/Desktop/wordsCleaned")
dfData.to_csv(path_or_buf = "/Users/grantpoulsen/Desktop/bookDataCleaned")